/* Empty. Add your own CSS if you like */
.mdl-card{
  width:500px;
  height:500px;
}
.mdl-card__title{
  background: url(http://lorempixel.com/500/500/nature);
  color: #fff;
}
.in-between{
  position:relative;
  top: 80px;
  right: -38%
}
.menu-style{
  /*height: 500px*/
  /*background: url(/resources/icon.png)*/
  background-color: violet
}
.bar-custom{
  background-color: violet
}
.scroll{
  height:100%
}
