
.toggle{
  padding: 0px 30px;
border: none;
background: transparent;
}
.center{
  margin-right: 50px;
}
.item a.item-content{
  background-color:transparent; !important
}
ion-content{
  background-color:silver;
}
.chip {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 25px;
    background-color: skyblue;
    margin:5px;
}
.chip .tag{
      float: left;
      margin: 5px 10px 0 -5px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: dodgerblue;
}
.chip .tag h2{
  text-align: center;
  font-size:large;
  /*margin-top:5px;*/
  color:snow;
}

#categories-list-item13 div.item-content.ng-binding {
    background-color: snow;
}
#fab-cat{
    background-color: deepskyblue;
    z-index: 9999;
    transform: translate3d(0%, 0px, 0px);
    opacity: 1;
    /* bottom: 0px; */
    position: absolute;
    top: 90%;
    /* right: 10%; */
    left: 80%;
}
.item-complex.item-icon-right .item-content {
    padding-right: 54px;
    background-color: snow;
}
.list .item {
    border: none;
    min-height: 48px;
    text-align: left;
    background-color:white;
}
.cancel {
    right: 20px;
    background-color: skyblue;
    padding-right: 7px;
    border: none;
    border-radius: 5px;
    margin: 7px 17px 3px 5px;
}

i.positive.icon.ion-android-more-vertical{
  display: table-cell;
    font-size: 200%;
    position: absolute;
    top: 30%;
    right: 10%;
}


i.icon.positive.ion-more.col-50{
  position: absolute;
  right: 20px;
  font-size: 200%;
}
.item-text-wrap .item, .item-text-wrap .item-content, .item-text-wrap, .item-text-wrap h1, .item-text-wrap h2, .item-text-wrap h3, .item-text-wrap h4, .item-text-wrap h5, .item-text-wrap h6, .item-text-wrap p, .item-complex.item-text-wrap .item-content, .item-body h1, .item-body h2, .item-body h3, .item-body h4, .item-body h5, .item-body h6, .item-body p {
    overflow: visible;
    white-space: normal;
}
.item-left-editable .item-content, .item-right-editable .item-content {
  background-color: snow;
}
.item-delete .button.icon{
  border: none;
    box-shadow: none;
    background-color: white;
}
.card .item:last-child, .list-inset .item:last-child{
    background-color:inherit;
}
#like-button .liked{
  background-color: dodgerblue;
}
