
@font-face {
  font-family: 'Amasis';
  src: url('./AmasisMTStd.ttf') format('truetype');
  /*font-weight: normal;*/
  /*font-style: normal;*/
}

.amasis {
  font-family: 'Amasis';
}
.toggle{
  padding: 0px 30px;
border: none;
background: transparent;
}
.center{
  margin-right: 50px;
}
.item a.item-content{
  background-color:transparent; !important
}
ion-content{
  background-color:silver;
}
.chip {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 25px;
    background-color: skyblue;
    margin:5px;
}
.chip .tag{
      float: left;
      margin: 5px 10px 0 -5px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: dodgerblue;
}
.chip .tag h2{
  text-align: center;
  font-size:large;
  /*margin-top:5px;*/
  color:snow;
}

#categories-list-item13 div.item-content.ng-binding {
    background-color: snow;
}
#fab-cat{
    background-color: deepskyblue;
    z-index: 9999;
    transform: translate3d(0%, 0px, 0px);
    opacity: 1;
    /* bottom: 0px; */
    position: absolute;
    top: 90%;
    /* right: 10%; */
    left: 80%;
}
.item-complex.item-icon-right .item-content {
    padding-right: 54px;
    background-color: snow;
}
.list .item {
    border: none;
    min-height: 48px;
    text-align: left;
    background-color:white;
}
.cancel {
    right: 20px;
    background-color: #2196F3;
    /*2196F3 skyblue*/
    padding-right: 7px;
    border: none;
    border-radius: 5px;
    margin: 7px 17px 3px 5px;
    color:snow;
}

i.positive.icon.ion-android-more-vertical{
  display: table-cell;
    font-size: 200%;
    position: absolute;
    top: 30%;
    right: 5%;
}


i.icon.positive.ion-more.col-50{
  position: absolute;
  right: 20px;
  font-size: 200%;
}
.item-text-wrap .item, .item-text-wrap .item-content, .item-text-wrap, .item-text-wrap h1, .item-text-wrap h2, .item-text-wrap h3, .item-text-wrap h4, .item-text-wrap h5, .item-text-wrap h6, .item-text-wrap p, .item-complex.item-text-wrap .item-content, .item-body h1, .item-body h2, .item-body h3, .item-body h4, .item-body h5, .item-body h6, .item-body p {
    overflow: visible;
    white-space: normal;
}
.item-left-editable .item-content, .item-right-editable .item-content {
  background-color: snow;
}
.item-delete .button.icon{
  border: none;
    box-shadow: none;
    background-color: white;
}
.card .item:last-child, .list-inset .item:last-child{
    background-color:inherit;
}
button#like-button.button.button-fab.button-fab-bottom-right.liked{
  background-color: salmon;
}
div#search-dropdown{
  height:75px;
}
label#search-select1{
  width:50%;
  background-color: #11c1f3;
  border-radius: 10px;
  margin:5px;
  border: 2px solid #777  ;
}
#search-select1 > select{
  width:5%;
  background-color: snow;
  padding:30px;
  border-radius: 0px;
}
label#search-select2{
  width:50%;
  background-color: #11c1f3;
  border-radius: 10px;
  margin:5px;
  border: 2px solid #777  ;
}
#search-select1 .input-label{
  padding:0px;
  color:snow
}
#search-select2 .input-label{
  padding:0px;
  color:snow
}
#search-select2 > select{
  width:5%;
  background-color: snow;
  padding:30px;
  border-radius: 0px;
}
#search-dropdown > button{
}
button#search-button8{
  background-color: #2196F3;
  margin: 5px 5px;
  border-radius: 9px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 5px 5px;
  height: 45px;
  font-size: 20px;
}
div#searchbar{
  height: 75px;
  /*margin-right:10px ;*/
}

#searchbar div{
  height: 47px;
  padding: 5px 0px 5px 10px;
  align-self: center;
  margin: 5px 0px 5px 5px;

}
i.icon.ion-search.placeholder-icon{
  /*margin-right:10px;*/
  font-size:30px;
}
#search-button4{
  align-self: center;
  background-color: #11c1f3;
  margin-right:5px;
}
#bookSearchResults-list-item16 p{
  font-size:13px;
}
