<ion-view title="edit-verse" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="editVerse-form2" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="editVerse-toggle1" class=" ">Like/Unlike</ion-toggle>
            <label class="item item-select " id="editVerse-select3">
                <span class="input-label">Add to categories</span>
                <select>
                    <option>Jesus</option>
                    <option>Paul</option>
                    <option>John</option>
                </select>
            </label>
        </form>
        <a ui-sref="menu.verseDetail" id="editVerse-button7" class=" button button-positive  button-block ">Save</a>
        <a ui-sref="menu.verseDetail" id="editVerse-button9" class=" button button-positive  button-block ">Cancel</a>
    </ion-content>
</ion-view>