<ion-view title="{{vm.bookId}} {{vm.chapId}} : {{vm.verse}}" id="page6" class=" " ng-controller="verseDetailCtrl as vm">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="verseDetail-card21">
            <ion-item class="item-icon-right  " id="verseDetail-list-item19">{{vm.verseDetail.text}}
                <i class="icon ion-android-star"></i>
            </ion-item>
        </div>
        <a ui-sref="editVerse" id="verseDetail-button6" class=" button button-positive  button-block ">Edit Verse</a>
    </ion-content>
</ion-view>