<ion-view title="add-category" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="addCategory-form3" class="list ">
            <label class="item item-input " id="addCategory-input3">
                <input type="text" placeholder="New Category ...">
            </label>
        </form>
        <a ui-sref="menu.categories" id="addCategory-button12" class=" button button-positive  button-block ">Save</a>
        <a ui-sref="menu.categories" id="addCategory-button13" class=" button button-positive  button-block ">Cancel</a>
    </ion-content>
</ion-view>