<ion-view title="categories" id="page3" class=" " ng-controller="categoriesCtrl as vm">
    <ion-nav-buttons side="right" class="buttons">
    <a class="button button-medium" ui-sref="menu.editCategory">
        <i class="icon ion-edit"></i>
    </a>
      <a class="button button-medium"ui-sref="menu.addCategory">
        <i  class="icon ion-plus-round"></i>
      </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <!--
        <div id="categories-button-bar1" class=" button-bar ">
            <a ui-sref="menu.addCategory" id="categories-button17" class=" button button-positive  button-block ">Add</a>
            <a ui-sref="menu.editCategory" id="categories-button19" class=" button button-positive  button-block ">Edit</a>
        </div>
        -->
        <ion-list id="categories-list4" class=" " ng-init="vm.getCategories()">
            <ion-item ng-repeat="cat in vm.categories" class="item-icon-right  " id="categories-list-item13" ui-sref="menu.categoryDetail({categoryId:cat})">{{cat}}
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>