<ion-view title="{{vm.category}}" id="page9" class=" " ng-controller="categoryDetailCtrl as vm">
  <ion-nav-buttons side="right" class="buttons">
      <!--
    <a class="button button-medium" ui-sref="menu.editCategory">
        <i class="icon ion-edit"></i>
    </a>
    <!--  -->
      <a class="button button-medium"ui-sref="menu.addCategory">
        <i  class="icon ion-plus-round"></i>
      </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list ng-init="vm.getVerses()"
        id="bookSearchResults-list5" class=" " >
            <div ng-repeat="ver in vm.verseList"
            class="item-text-wrap  "
            id="bookSearchResults-list-item16">
            <div class="item " style="padding: 5px 5px 5px 15px;">
            <a class="item-icon-right" ng-click="vm.openModal(ver.vid)"
                <span class="item-note">
                {{ver.verse}}
                </span>
                <i  class="icon ion-more"></i>
              </a>
            </div>
              <div class="item">
             <p>{{ver.text}}</p>
           </div>
         </div>
        </ion-list>
    </ion-content>
</ion-view>

<script type="text/ng-template" id="verse-detail.html">
<ion-modal-view class= "modal" ng-controller="verseDetailCtrl as vm">
    <!-- header bar -->
  <ion-header-bar class="bar bar-header header-positive" align-title="center">
    <h4 class="title">{{vm.verseDetail.bookId}} {{vm.verseDetail.chapId}} {{vm.verseDetail.verseId}}</h4>
  </ion-header-bar>
  <!-- main content -->
    <ion-content padding="true" class="has-header">
        <ion-item class="item row" id="verseDetail-list-item19">
            <span class="col">{{vm.verseDetail.vid}}</span>
            <button class="col" ng-click="vm.toggleLike()">
          <i class="icon ion-android-star" ng-class={isactive:vm.verseDetail.isliked}></i>
        </button>
        </ion-item>

        <form id="editVerse-form2" class="item row">
                <span class="input-label col">Add to categories</span>
                <select class="col"
                ng-init="vm.getCategories()" ng-model="vm.selectedCategory"
                ng-options="cat as cat for cat in vm.categories"
                ng-change="vm.addVerseToCategory()">
                </select>
        </form>
        <div class="item">
          <h3 class="header">In Categories</h3>
          <span ng-repeat="acat in vm.catList" class="mdl-chip mdl-chip--contact">
              <span class="mdl-chip__contact mdl-color--pink mdl-color-text--white"></span>
              <span class="mdl-chip__text">{{acat}}</span>
          </span>
        </div>
        <button class=" button button-positive  button-block "
        ng-click="vm.saveVerse()">Save Changes</button>
        <!-- redirect back to verse list page -->
        <a  id="editVerse-button9" ng-click="vm.cancel()"
        class=" button button-positive  button-block ">Cancel</a>

    </ion-content>
  </ion-modal-view>
</script>
