<!-- <ion-view title="Categories" id="page3" cache-view="false" class=" " ng-controller="categoriesCtrl as vm"> -->
  <ion-view ng-controller="categoriesCtrl as vm">
  <ion-nav-title>
    <center>
    Categories
    </center>
  </ion-nav-title>
    <ion-nav-buttons side="right">
      <ion-toggle style="padding: 0px 30px;border: none;background: transparent;" ng-model="vm.showDelete"></ion-toggle>
  </ion-nav-buttons>
    <ion-content  class="">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="vm.doRefresh()">
      </ion-refresher>
        <ion-list id="categories-list4" class=" "
        show-delete="vm.showDelete"
        ng-init="vm.getCategories()">
            <ion-item collection-repeat="cat in vm.categories track by $index" class="item-icon-right  "
            id="categories-list-item13" ui-sref="menu.categoryDetail({categoryId:cat})"
            on-hold="openPopover($event)"
            style="display:table;">
              {{cat}}
                <i class="icon ion-android-arrow-forward" ></i>
                <ion-delete-button style="box-shadow:none;" class="ion-minus-circled" ng-click="vm.deleteCategory(cat)"></ion-delete-button>
            </ion-item>
            <script id="rename-popover.html" type="text/ng-template">
              <ion-popover-view style="height:60px;width:90%;">
                <ion-content>
                  <div  class="item row " style="background-color:snow">
                    <input class="col-80" style="padding:8% 5px;margin-right:10px;" type="text" ng-model="vm.newCategoryName" placeholder="Rename category..."/>
                    <button class="button button-positive" style="height:80%;width:50px;" type="button" ng-click="vm.renameCategoryItem()">
                    <i class="icon ion-checkmark"></i>
                  </button>
                  </div>
                </ion-content>
              </ion-popover-view>
            </script>
        </ion-list>
    </ion-content>
    <button ui-sref="menu.addCategory" class="button button-fab button-fab-bottom-right "
    style="background-color:deepskyblue;">
      <i class="icon ion-ios-pricetag"></i>
    </button>
</ion-view>
