<!-- <ion-view  title="{{cvm.category}}" id="page9" class=" " ng-controller="categoryDetailCtrl as cvm"> -->
<ion-view  ng-controller="categoryDetailCtrl as cvm">
  <ion-nav-title>
    <center>
      {{cvm.category}}
    </center>
  </ion-nav-title>
    <ion-nav-buttons side="right">
      <ion-toggle style="padding: 0px 30px;border: none;background: transparent;" ng-model="cvm.showDelete"></ion-toggle>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
      <ion-list ng-init="cvm.getVerses(cvm.word)"
        id="bookSearchResults-list5" class=" "
        style="display:table;"
        show-delete="cvm.showDelete">
            <!-- ui-sref passes parameters to next page-->
            <ion-item collection-repeat="ver in cvm.verseList"
            class="list card"
            id="bookSearchResults-list-item16" >
                <ion-delete-button class="ion-minus-circled" ng-click="cvm.deleteCategoryItem(ver.vid)"></ion-delete-button>
            <div class="row item" style="">
            <a class="item-icon-right" ng-click="cvm.openModal(ver.vid)"
                <span class="item-note">
                {{ver.vid}}
                </span>
                <i  class="icon ion-more"></i>
              </a>
            </div>
              <div class="row item item-text-wrap " style="">
             <p>{{ver.text}}</p>
           </div>
         </ion-item>
      </ion-list>
      </ion-content>
</ion-view>
