<ion-view title="categories" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="categories-button-bar1" class=" button-bar ">
            <a ui-sref="menu.addCategory" id="categories-button17" class=" button button-positive  button-block ">Add</a>
            <a ui-sref="menu.editCategory" id="categories-button19" class=" button button-positive  button-block ">Edit</a>
        </div>
        <ion-list id="categories-list4" class=" ">
            <ion-item class="item-icon-right  " id="categories-list-item13" ui-sref="menu.categoryDetail">Jesus
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="categories-list-item14" ui-sref="menu.categoryDetail">Paul
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="categories-list-item15" ui-sref="menu.categoryDetail">John
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>