<ion-view title="edit-category" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="editCategory-form4" class="list ">
            <label class="item item-input " id="editCategory-input4">
                <span class="input-label">category-name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="menu.categories" id="editCategory-button15" class=" button button-positive  button-block ">Save</a>
        <a ui-sref="menu.categories" id="editCategory-button16" class=" button button-positive  button-block ">Cancel</a>
    </ion-content>
</ion-view>