<ion-view title="edit-category" id="page10" class=" " ng-controller="categoriesCtrl as vm">
    <ion-content padding="true" class="has-header">
        <form id="editCategory-form4" class="list ">
            <label class="item item-select " id="search-select1">
                <span class="input-label">Category</span>
                <select ng-init="vm.getCategories()" ng-model="vm.category" ng-options="cat as cat for cat in vm.categories" >
                </select>
            </label>
            <label class="item item-input">
                <input  type="text" ng-model="vm.category" value="{{vm.category}}">
            </label>
        </form>
        <a ng-click="vm.updateCategory()" ui-sref="menu.categories" id="editCategory-button15" class=" button button-positive  button-block ">Save Changes</a>
        <a ui-sref="menu.categories" id="editCategory-button15" class=" button button-positive  button-block ">Delete Category</a>
        <a ui-sref="menu.categories" id="editCategory-button16" class=" button button-positive  button-block ">Cancel</a>
    </ion-content>
</ion-view>
