<!-- <ion-view  title="Edit {{vm.bookId}} {{vm.chapId}} : {{vm.verse}}" id="page6" class=" " ng-controller="verseDetailCtrl as vm"> -->
  <ion-view ng-controller="verseDetailCtrl as vm">
  <ion-nav-buttons side="right">
      <!-- <input type="button" value="Next" ng-click="vm.gotoNextChapter()"></input> -->
    <input type="button"   ng-click="vm.cancel()" value="Close">
  </ion-nav-buttons>
    <ion-content  class=" ">

        <div class="row item" style="display:flex;flex-direction:column;height:33%;background: url('img/profile-bg.jpg'); background-size: cover;">
          <h2 class="col-33" style="margin-top: auto;color:#fff;">{{vm.bookId}} {{vm.chapId}} : {{vm.verse}}</h2>
        <button id="fab-profile" ng-class={isactive:vm.verseDetail.isliked} ng-click="vm.toggleLike()"
        class="button button-fab button-fab-bottom-right button-energized-900">
          <i class="icon ion-heart"></i></button>
      </div>

        <div id="editVerse-form2" class="item row">
                <span class="input-label col-50">Add to categories</span>
                <select class="col-50"
                ng-init="vm.getCategories()" ng-model="vm.selectedCategory"
                ng-options="cat as cat for cat in vm.categories"
                ng-change="vm.addVerseToCategory()">
                </select>
        </div>
        <div class="item  item-text-wrap">
          <span ng-repeat="acat in vm.catList track by $index" class="">
            <span ng-click="vm.gotoCategory(acat)">
              <span class="">{{vm.getAvatar(acat)}}</span>
              <span class="">{{acat}}</span>
            </span>
          </span>
        </div>
        <!--
        <button class=" button button-positive  button-block "
        ng-click="vm.saveVerse()">Save Changes</button>
        <!--  -->


    </ion-content>
</ion-view>
