<ion-view title="{{vm.bookId}} {{vm.chapId}}" id="page7" class=" " ng-controller="bookSearchResultsCtrl as vm">
    <ion-content padding="true" class="has-header">
        <ion-list ng-init="vm.getVerses(vm.bookId, vm.chapId)"
        id="bookSearchResults-list5" class=" " >
            <!-- ui-sref passes parameters to next page-->
            <ion-item ng-repeat="ver in vm.verses"
            class="item item-text-wrap  item-icon-right" style="width:100%;padding-top:5px;padding-bottom:5px"
            id="bookSearchResults-list-item16" style="display:table">
              <p style="display:inline-block; padding-right:10px; display:table-cell;">
                  {{ver.verse}}
              </p>
               <div style="display:table-cell">{{ver.text}}</div>
               <i ng-click="vm.openModal(ver.verse)" class="positive icon ion-android-more-vertical">
              </i>
         </ion-item>
        </ion-list>
    </ion-content>
    <!-- http://stackoverflow.com/questions/13943471/angularjs-ng-include  -->
    <!-- google "ng-include anti-pattern"
<div ng-include src="'/template/modals/verse-detail.html'" onload="vm.loadModal()">
</div>
-->
</ion-view>

<script type="text/ng-template" id="verse-detail.html">
<ion-modal-view cache-view="false"  ng-controller="verseDetailCtrl as vm">
    <!-- header bar https://www.raymondcamden.com/2015/12/18/is-your-ionic-view-title-not-updating/ -->
  <ion-header-bar class="padding bar-positive" >
    <h4 style="align:center" class="title">{{vm.bookId}} {{vm.chapId}} : {{vm.verse}}</h4>
  </ion-header-bar>
  <!-- main content -->
    <ion-content  class="padding has-header">
        <ion-item class="item row" id="verseDetail-list-item19">
            <span class="col">Like</span>
            <button class="col" ng-click="vm.toggleLike()">
          <i class="icon ion-android-star" ng-class={isactive:vm.verseDetail.isliked}></i>
        </button>
        </ion-item>

        <form id="editVerse-form2" class="item row">
                <span class="input-label col">Add to categories</span>
                <select class="col"
                ng-init="vm.getCategories()" ng-model="vm.selectedCategory"
                ng-options="cat as cat for cat in vm.categories"
                ng-change="vm.addVerseToCategory()">
                </select>
        </form>
        <div class="item item-text-wrap">
          <h3 class="header">In Categories</h3>
          <span ng-repeat="acat in vm.catList track by $index" class="mdl-chip mdl-chip--contact">
            <span ng-click="vm.gotoCategories(acat)">
              <span class="mdl-chip__contact mdl-color--pink mdl-color-text--white">#</span>
              <span class="mdl-chip__text">{{acat}}</span>
            </span>
          </span>
        </div>
        <!--
        <button class=" button button-positive  button-block "
        ng-click="vm.saveVerse()">Save Changes</button>
        <!-- redirect back to verse list page -->
        <a  id="editVerse-button9" ng-click="vm.cancel()"
        class=" button button-positive  button-block ">Close</a>

    </ion-content>
  </ion-modal-view>
</script>
