<ion-view title="{{vm.bookId}} {{vm.chapId}}" id="page7" class=" " ng-controller="bookSearchResultsCtrl as vm">
    <ion-content padding="true" class="has-header">
        <ion-list ng-init="vm.getVerses(vm.bookId, vm.chapId)"
        id="bookSearchResults-list5" class=" " >
            <!-- ui-sref passes parameters to next page-->
            <ion-item ng-repeat="ver in vm.verses"
            class="item item-text-wrap  item-icon-right" style="width:100%;padding-top:5px;padding-bottom:5px"
            id="bookSearchResults-list-item16" style="display:table">
              <p style="display:inline-block; padding-right:10px; display:table-cell;">
                  {{ver.verse}}
              </p>
               <div style="display:table-cell">{{ver.text}}</div>
               <i ng-click="vm.openModal(ver.verse)" class="positive icon ion-android-more-vertical">
              </i>
         </ion-item>
        </ion-list>
    </ion-content>
    <!-- http://stackoverflow.com/questions/13943471/angularjs-ng-include  -->
    <!-- google "ng-include anti-pattern"
<div ng-include src="'/template/modals/verse-detail.html'" onload="vm.loadModal()">
</div>
-->
</ion-view>
