<!-- <ion-view  title="Edit {{vm.bookId}} {{vm.chapId}} : {{vm.verse}}" id="page6" class=" " ng-controller="verseDetailCtrl as vm"> -->
  <ion-view ng-controller="verseDetailCtrl as vm">
  <ion-nav-buttons side="right" >
    <input type="button" class="cancel"  ng-click="vm.cancel()" value="Close">
  </ion-nav-buttons>
    <ion-content  class=" ">
<!-- hero section -->
        <div class="row item" id="verseDetailBackground" back-img="{{vm.backgroundImg}}">
          <h2 class="" style="font-size:x-large;color:#fff;position:absolute;top:80%;left:5%;">{{vm.bookId}} {{vm.chapId}} : {{vm.verse}}</h2>
        <button  id="like-button" ng-class="{'liked':vm.verseDetail.like}" ng-click="vm.toggleLike()"
        class="button button-fab button-fab-bottom-right ">
          <i class="icon ion-heart"></i></button>
      </div>
<!-- select dropdown -->

  <div class="row item" style="background-color:snow;">
    <h2 class="col-50 padding" style="margin-top:5px;">Add To Categories</h2>
    <div class="col-50 padding" ng-click="openPopover($event)">
    <i class="ion button-icon icon ion-more" style="float:right;"></i>
  </div>
  </div>

        <!--  category list-->
        <div class="item  item-text-wrap " style="background-color:snow">
          <span ng-repeat="acat in vm.catList track by $index" class="">
            <span class="chip" ng-click="vm.gotoCategory(acat)">
              <span class="tag"><h2>{{vm.getAvatar(acat)}}</h2></span>
              <span class="">{{acat}}</span>
            </span>
          </span>
        </div>
        <!--
        <button class=" button button-positive  button-block "
        ng-click="vm.saveVerse()">Save Changes</button>
        <!--  -->

        <script id="versedetail-popover.html" type="text/ng-template">
          <ion-popover-view>
            <ion-content>
<div id="editVerse-form2" class="item row " style="background-color:snow">
                <div class="list" style="width:100%;" ng-init="vm.getCategories()">
                  <span class="item" style="border-bottom: 2px solid dimgrey;" ng-repeat="cat in vm.categories">
                    <a ng-click="vm.addVerseToCategory(cat)" >{{cat}}</a>
                  </span>
                </div>
                <!--
                <select class="col-50"
                ng-init="vm.getCategories()" ng-model="vm.selectedCategory"
                ng-options="cat as cat for cat in vm.categories"
                ng-change="vm.addVerseToCategory()">
                </select>
                <!--  -->
        </div>
      </ion-content>
      </ion-popover-view>
        </script>
    </ion-content>
</ion-view>
