<ion-modal-view hide-nav-bar="false" title="{{vm.bookId}} {{vm.chapId}} : {{vm.verse}}" id="page6" class=" " ng-controller="verseDetailCtrl as vm">
  <ion-header-bar title="Edit {{vm.bookId}} {{vm.chapId}} {{vm.verse}}">

</ion-header-bar>
  <ion-nav-buttons side="secondary">
    <button>
    <i class="icon ion-android-star" ng-click="vm.verseDetail.like != vm.verseDetail.like"></i>
  </button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
      {{vm.verseDetail.like}}
        <div class="card item-text-wrap" id="verseDetail-card21">
            <ion-item class="item-icon-right " id="verseDetail-list-item19">
                <!-- TODO bookID chapID verseNum eg genesis 1 2-->
                <p>{{vm.verseDetail.text}}</p>
            </ion-item>
        </div>
        <form id="editVerse-form2" class="list ">

            <label class="item item-select " id="editVerse-select3">
                <span class="input-label">Add to categories</span>
                <select ng-init="vm.getCategories()" ng-model="vm.selectedCategory" ng-options="cat as cat for cat in vm.categories">

                </select>
            </label>
        </form>
        <!-- save changes to verse object
        <a ui-sref="editVerse({book:vm.bookId, chap:vm.chapId, verse:vm.verse})" id="verseDetail-button6" class=" button button-positive  button-block ">Edit Verse</a>
      -->
        <button class=" button button-positive  button-block "
        ng-click="vm.saveVerse()">Save Changes</button>
        <!-- redirect back to verse list page-->
<a ui-sref="menu.bookSearchResults({book:vm.bookId, chap:vm.chapId, verse:vm.verse})"
        id="editVerse-button9" class=" button button-positive  button-block ">Cancel</a>
    </ion-content>
</ion-modal-view>
