<ion-view title="favorites" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="favorites-list3" class=" ">
            <ion-item class="item-icon-right  " id="favorites-list-item10" ui-sref="menu.verseDetail">John 3 - 16
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="favorites-list-item11" ui-sref="menu.verseDetail">Exodus 1 - 1
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="favorites-list-item12" ui-sref="menu.verseDetail">Psalm 119 - 1
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>