<!-- <ion-view  id="page2" class=""  title="Favorites" ng-controller="favoritesCtrl as fvm"> -->
  <ion-view ng-controller="favoritesCtrl as fvm">
  <ion-nav-title>
    <center class="center">
      Favorites
    </center>
  </ion-nav-title>
  <ion-header-bar>
    <div class="buttons">
      <input type="button" class="button button-icon icon ion-ios-minus-outline"
      ng-click="fvm.showDelete = !fvm.showDelete"></input>
    </div>
  </ion-header-bar>
    <ion-content  class="has-header">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="fvm.doRefresh()">
      </ion-refresher>
        <ion-list ng-init="fvm.getFavorites()"
        id="bookSearchResults-list5" class=" ">
            <div collection-repeat="ver in fvm.verses"
            class="list card item-text-wrap"
            id="bookSearchResults-list-item16">
            <ion-list-header class="row" style="padding: 5px 5px 5px 15px;">
              <a class="col-50" ng-click="fvm.gotoVerseIndexPage(ver.vid)">
                {{ver.vid}}
              </a>
                <i  ng-click="fvm.openModal(ver.vid)" class="icon positive ion-more col-50"></i>
            </ion-list-header>
              <ion-item class="" style="">
             <p class="amasis">{{ver.text}}</p>
           </ion-item>
              <ion-item style=""></ion-item>
         </div>
        </ion-list>
    </ion-content>
</ion-view>
